# General files
*~
*.asv
.nfs*

# For LaTeX files
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.bak


# For nested repos
Project1Part4/phase4/*
HW5/*.eps
HW5/*converted-to*
Project2Part3/studentcode/data/*
Project2Part3/studentcode/nanoplus_imu_data/*
Project2Part3/plots/*
Project3/*
